WebApi/bin/Debug/net7.0/WebApi.dll
WebApi/bin/Debug/net7.0/WebApi.pdb
WebApi/obj/Debug/net7.0/WebApi.assets.cache
WebApi/obj/Debug/net7.0/WebApi.dll
WebApi/obj/Debug/net7.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
WebApi/obj/Debug/net7.0/WebApi.pdb
